[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==3.3.2"
Flask = "==1.1.4"
marshmallow = "==3.12.1"
requests = "==2.27.1"
PyJWT = "==2.1.0"
devo-sdk = "==3.5.0"

[dev-packages]
flake8 = "==3.9.2"
coverage = "==5.5"
pytest = "==6.2.4"

[requires]
python_version = "3.9"
