[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple"
verify_ssl = true
name = "test_pypi"

[packages]
cryptography = "*"
Flask = "*"
marshmallow = "*"
requests = "*"
PyJWT = "*"
devo-sdk = {version = "==3.5.0", index = "test_pypi"}

[dev-packages]
flake8 = "==3.9.2"
coverage = "==5.5"
pytest = "==6.2.4"

[requires]
python_version = "3.9"
